body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: rgb(167, 159, 159);
}
.grid {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  width: 65%;
  margin: 0 auto;
}
.gridbox {
  background-color: rgb(54, 50, 50);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 21%;
  margin-bottom: 16px;
  height: 120px;
  font-size: 50px;
}
button.reset {
  margin-bottom: 20px;
  padding: 10px 25px;
  background-color: grey;
  color: rgb(0, 0, 0);
  cursor: pointer;
}
button.start {
  margin-bottom: 20px;
  padding: 10px 25px;
  background-color: grey;
  color: rgb(216, 33, 33);
  cursor: pointer;
}
